body {
    background-color:lightgray ;
}

h1{
    color: #0f119cee;
}
p {
    color:#3939de;
}
section {
    background-color: rgba(0, 255, 255, 0.3);
}
section.experiment {
    background: url(images/projectimage1.jpg) fixed no-repeat center;
    background-size: cover;
    height: 100vh;
}
section p{
    color: hsl(60, 100%, 50%);
}
